# To define an env variables duplicate this file and save as .env.development.local
#  Change VITE_API_BASE_URL to the appropriate url
#  Open the command line and when running docker compose
#  pass in --env-file <your env file> and set VITE_API_BASE_URL to the appropriate url in that file
#  For production, create a .env file in the root directory.
#  Set VITE_API_BASE_URL in the .env to the appropriate url.
#  There is no need to pass in --env-file for production since compose will pick up the .env file by default.

VITE_API_BASE_URL="localhost:3002"
